.header {
  display: flex;
  align-items: flex-start;
}

.headerTitle {
  text-align: center;
  color: var(--main-black-color);
  font-size: 3.6rem;
  font-family: "Redressed", cursive;
  text-transform: uppercase;
}
